@model Portal.Web.Models.AccountViewModels.ResetPasswordViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    <link href="~/css/newLogin.css" rel="stylesheet" />
    <!-- Digite ícones Solid de Fontawesome-->
    <link href="~/fontawesome/css/solid.css" rel="stylesheet" />
    <title>Reset de Password</title>
</head>
<body style="background-color: #06ABEB !important;">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <br />
                <div class="col-12">
                    <img style="border-radius: 10%;" src="~/img/profile-photos/1.png" />
                </div>
                <br />
                <h2 class="title title-primary" style="color:white">Reset de Senha</h2>
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-warning"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Code" class="form-control" />
                    </div>
                    <div class="form-group" id="Senha-group">
                        <input asp-for="Password" class="form-control" placeholder="Digite uma nova Senha" />
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>
                    <div class="form-group" id="Senha-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Repetir a Senha" />
                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="salvarbtn" style="width: 126px;"><i class="fas fa-sign-in-alt"></i>  Salvar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
        crossorigin="anonymous"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
</script>
<script src="~/fontawesome/js/all.js"></script>